<%- include('../partials/header') %>

<div class='pokedex-img'>
  <h1>Pokedex</h1>
  <img src="/images/pokedex.png" alt="pokedex">
</div>
<form action="/pokemon/pokeSearch" method="POST" class='pokesearch' onload="saveSound()">
  <input type="text" name="query" placeholder="Enter Pokemon Name">
  <button class='poke-button' type="submit" onclick="bling()">Search</button>
</form>

<% if (pokemon) { %>
<div class="container">
  <div class="poke-image">
    <img src="<%= pokemon.sprites.front_default %>" class="poke-sprite" id="default-sprite" alt="default sprite">
    <img src="<%= pokemon.sprites.front_shiny %>" class="poke-sprite" id="shiny-sprite" alt="shiny sprite">
  </div>
  <div class="poke-content">
    <div class='name-add'>
      <h3><%= pokemon.species.name.charAt(0).toUpperCase() + pokemon.species.name.slice(1) %></h3>
      <h4>ID: <%= pokemon.id %></h4>
      <% if (user.team.some(p => {return p.id == pokemon.id})) { %>
      <form action="/pokemon/<%= pokemon.id %>/team?_method=DELETE" method="POST">
        <% } else { %>
        <form action="/pokemon/<%= pokemon.id %>/team" method="POST">
          <% } %>
          <input type="text" hidden name="name" value="<%= pokemon.name %>">
          <input type="text" hidden name="id" value="<%= pokemon.id %>">
          <input type="text" hidden name="img" value="<%= pokemon.sprites.front_default %>">
          <button
            class="btn btn-success"><%= user.team.some(p => {return p.id === pokemon.id}) ? "Remove Pokemon" : "Add Pokemon" %></button>
        </form>
    </div>
    <div class='poke-category'>
      <div class='poke-type'>
        <h5>Type: </h5><% pokemon.types.forEach(p => { %>
        <ul> <%= p.type.name.charAt(0).toUpperCase() + p.type.name.slice(1) %> </ul>
        <% }) %>
      </div>
      <div class='poke-ability'>
        <h5>Abilities: <% pokemon.abilities.forEach(p => { %>
        </h5>
        <ul>
          <%= p.ability.name.charAt(0).toUpperCase() + p.ability.name.slice(1) %>
        </ul>
        <% }) %>
      </div>
    </div>
    <div class='measurements'>
      <p>Height: <%= pokemon.height / 10; %> m</p>
      <p>Weight: <%= pokemon.weight / 10; %> kg</p>
    </div>
    <div class="poke-stats">
      <h2>HP: </h2>
      <h3><%= pokemon.stats[0].base_stat %></h3>
      <h2>Attack: </h2>
      <h3><%= pokemon.stats[1].base_stat %></h3>
      <h2>Defense: </h2>
      <h3><%= pokemon.stats[2].base_stat %></h3>
      <h2>Special Attack: </h2>
      <h3><%= pokemon.stats[3].base_stat %></h3>
      <h2>Special Defense: </h2>
      <h3><%= pokemon.stats[4].base_stat %></h3>
      <h2>Speed: </h2>
      <h3><%= pokemon.stats[5].base_stat %></h3>
    </div>
    <br>
    <h3>Learnable Moves: </h3>
    <div class="poke-moves">
      <% pokemon.moves.forEach(p => { %>
      <ul>
        <%= p.move.name.charAt(0).toUpperCase() + p.move.name.slice(1) %>
      </ul>
      <% }) %>
    </div>
  </div>


  <% } %>

  <%- include('../partials/footer') %>