<%- include('../partials/header') %>

<h2>Your Team</h2>

<% if (pokemon.species.length > 0) { %>
<table>
  <thead>
    <tr>
      <th>Pokemon 1</th>
      <th>Pokemon 2</th>
      <th>Pokemon 3</th>
      <th>Pokemon 4</th>
      <th>Pokemon 5</th>
      <th>Pokemon 6</th>
    </tr>
  </thead>
  <tbody>
    <% pokemon.species.name.forEach(p => { %>
    <div class="poke-image">
      <img src="<%= pokemon.sprites.front_default %>" alt="">
    </div>
    <h4><%= pokemon.species.name.charAt(0).toUpperCase() + pokemon.species.name.slice(1) %></h4>
    <h4><%= pokemon.species.name.charAt(0).toUpperCase() + pokemon.species.name.slice(1) %></h4>
    <h4><%= pokemon.species.name.charAt(0).toUpperCase() + pokemon.species.name.slice(1) %></h4>
    <h4><%= pokemon.species.name.charAt(0).toUpperCase() + pokemon.species.name.slice(1) %></h4>
    <h4><%= pokemon.species.name.charAt(0).toUpperCase() + pokemon.species.name.slice(1) %></h4>
    <h4><%= pokemon.species.name.charAt(0).toUpperCase() + pokemon.species.name.slice(1) %></h4>
    <% }); %>
    <% } else { %>
    <h3>There are no pokemon added yet!</h3>
    <% } %>
    <hr>
    <form action="/" method="POST">
      <div>
        <input type="text" name="search" required>
      </div>
      <button type="submit">ADD POKEMON</button>
    </form>

    <%- include('../partials/footer') %>