<%- include('../partials/header') %>

<h2>Pokemonnnn</h2>

<% if (user.team.some(p => {return p.id === pokemons.id})) { %>
<form action="/pokemon/<%= pokemons.id %>/?_method=DELETE" method="POST">
  <% } else { %>
  <form action="/pokemon/<%= pokemons.id %>" method="POST">
    <% } %>
    <input type="text" hidden name="name" value="<%= pokemons.name %>">
    <input type="number" hidden name="id" value="<%= pokemons.id %>">
    <input type="text" hidden name="pokeType" value="<%= pokemons.pokeType %>">
    <input type="text" hidden name="img" value="<%= pokemons.img %>">

    <button
      class="btn btn-success"><%= user.team.some(p => {return p.id === pokemons.id}) ? "Unwatch" : "Watch" %></button>
  </form>

  <%- include('../partials/footer') %>